body {
background-image: linear-gradient(45deg, #220290 0%, #63035f 100%);
color:aliceblue;
overflow: hidden;
height:fit-content;
}
.movie-app {
  overflow: hidden;
  height: 100vh;
  
}
.movie-app > .row {
  overflow-x:auto;
  flex-wrap:nowrap;
}
.image-container {
  position:relative;
  transition:transform 0.2s;
}
.image-container:hover {
  cursor:pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  color:aliceblue;
  width:100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom:0;
  font-size: 15px;
  padding:20px;
  text-align:start;
  display:flex;
  flex-direction: column;
}
.col {
  color:antiquewhite
}
